@page "/profile"
@inject IAutenticationService _IAutenticationService
@attribute [Authorize]

<div class="container CenterText">
<AuthorizeView>
    <h2>Hi! You're logged in as <i>@context.User.Identity.Name</i>.</h2>
</AuthorizeView>

<br/>
<br/>
    <br />
<h3>Informacje o tobie</h3>
<h5>Dane Kontaktowe</h5>
<p>Mail: @Userdata.Email</p>
<p>Phone Number: @Userdata.PhoneNumber</p>
<b>Role: @Userdata.Role [Cant be eddited]</b>
    <br />
    <br />
    <hr />
    <h5> Eddit Phone Number</h5>

    <EditForm Model="requestPhone" OnValidSubmit="ChangePhone">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3">
        <label for="phonenumber">New Phone Number</label>
        <br/>
            <InputText id="phonenumber" @bind-Value="requestPhone.PhoneNumber" class="justify-content-center"  />
       <ValidationMessage For="@(() => requestPhone.PhoneNumber)" />
    </div>
<div class="mb-3">
            <label for="confirmphonenumber">Confirm New Phone Number</label>
        <br />
            <InputText id="confirmphonenumber" @bind-Value="requestPhone.ConfirmPhoneNumber" class="justify-content-center" />
        <ValidationMessage For="@(() => requestPhone.ConfirmPhoneNumber)" />
</div>
    <button type="submit" class="btn btn-primary">Apply</button>
</EditForm>
    <br />
    <br />
    <hr />

    <h5> Eddit EmailAddres</h5>

    <EditForm Model="requestEmail" OnValidSubmit="ChangeEmail">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="mb-3">
            <label for="emailaddres">New EmailAddres</label>
            <br />
            <InputText id="emailaddres" @bind-Value="requestEmail.Email" class="justify-content-center"  />
            <ValidationMessage For="@(() => requestEmail.Email)" />
        </div>
        <div class="mb-3">
            <label for="confirmemailaddres">Confirm New EmailAddres</label>
            <br />
            <InputText id="confirmemailaddres" @bind-Value="requestEmail.ConfirmEmail" class="justify-content-center"  />
            <ValidationMessage For="@(() => requestEmail.ConfirmEmail)" />
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </EditForm>
    <br />
    <br />
    <hr />
<h5>Change Password</h5>

<EditForm Model="request" OnValidSubmit="ChangePassword">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3">
        <label for="password">New Password</label>
        <br/>
            <InputText id="password" @bind-Value="request.Password" class="justify-content-center" type="password" />
       <ValidationMessage For="@(() => request.Password)" />
    </div>
<div class="mb-3">
        <label for="confirmPassword">Confirm New Password</label>
        <br />
        <InputText id="confirmPassword" @bind-Value="request.ConfirmPassword" class="justify-content-center" type="password" />
        <ValidationMessage For="@(() => request.ConfirmPassword)" />
</div>
    <button type="submit" class="btn btn-primary">Apply</button>
</EditForm>


</div>
<h2 style="text-align:center"><b>@message</b></h2>

@code {

    ChangePaswordClass request = new ChangePaswordClass();
    ChangeEmailClass requestEmail = new ChangeEmailClass();
    ChangePhoneNumberClass requestPhone = new ChangePhoneNumberClass();
    User Userdata = new User();
    string message = string.Empty;

    private async Task ChangePassword()
    {
        var result = await _IAutenticationService.CHangePassword(request);
        message = result.ReturnMesage;
    }

     private async Task ChangeEmail()
    {
        var result = await _IAutenticationService.ChangeEmail(requestEmail);
        message = result.ReturnMesage;
    }
    private async Task ChangePhone()
    {
        var result = await _IAutenticationService.ChangePhoneNumber(requestPhone);
        message = result.ReturnMesage;
    }

    protected override async Task OnParametersSetAsync()
    {
        var result = await _IAutenticationService.FindUser();
        Userdata = result.Value;
    }

    
}