@page "/register"
@inject IAutenticationService _AutenticationService


<PageTitle>Registration</PageTitle>
<div class="container">
<h3 style="text-align:center;padding:1rem;">Registration</h3>


<EditForm Model="user" OnValidSubmit="HandleRegistration" class="align-content-center">
   <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value=user.Username class="form-control" />
        <ValidationMessage For="@(()=>user.Username)"/>
    </div>
    <div class="mb-3">
      <label for="email">Email</label>
      <InputText id="email" @bind-Value=user.Email class="form-control"/>
        <ValidationMessage For="@(()=>user.Email)" />
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value=user.Password class="form-control" type="password" />
        <ValidationMessage For="@(()=>user.Password)" />
    </div>
    <div class="mb-3">
        <label for="confirmpassword">ConfirmPassword</label>
        <InputText id="confirmpassword" @bind-Value=user.ConfirmPassword class="form-control" type="password" />
        <ValidationMessage For="@(()=>user.ConfirmPassword)" />
    </div>
    <div class="mb-3">
        <label for="phonenumber">PhoneNumber</label>
        <InputText id="phonenumber" @bind-Value=user.PhoneNumber class="form-control" />
        <ValidationMessage For="@(()=>user.PhoneNumber)" />
    </div>
        <div class="mb-3">
            <label for="postcode">New Post Code</label>
            <br />
            <InputText id="postcode" @bind-Value="user.PostalCode" class="form-control" />
            <ValidationMessage For="@(() => user.PostalCode)" />
        </div>
        <div class="mb-3">
            <label for="Country">New Country</label>
            <br />
            <InputText id="Country" @bind-Value="user.Country" class="form-control" />
            <ValidationMessage For="@(() => user.Country)" />
        </div>
        <div class="mb-3">
            <label for="City">New City</label>
            <br />
            <InputText id="City" @bind-Value="user.City" class="form-control" />
            <ValidationMessage For="@(() => user.City)" />
        </div>
        <div class="mb-3">
            <label for="Adres">New Adres</label>
            <br />
            <InputText id="Adres" @bind-Value="user.Adres" class="form-control" />
            <ValidationMessage For="@(() => user.Adres)" />
        </div>
    <button style="padding:10px;" type="submit" class="btn, btn-primary">Register</button>
    <div class="@messageCssClass">
        <span>@message</span>
    </div>
</EditForm>
</div>



@code 
{
    UserRegister user = new UserRegister();

    string message = String.Empty;
    string messageCssClass = String.Empty;

    async Task HandleRegistration()
    {
        var result = await _AutenticationService.Register(user);
        message = result.ReturnMesage;
        if (result.Success)
            messageCssClass = "text-success";
        else
            messageCssClass = "text-danger";
    }
}
