@using BlazorEcomerce.Shared.Services
@inject IProductService _ProductService;
@implements IDisposable 


@if(_ProductService.Products==null || _ProductService.Products.Count==0)
{
    <div class="loader"> @_ProductService.message </div>
}
else
{
<div class="container mt-5 ">
    @foreach(var product in _ProductService.Products)
    {
       
        <div class="row">
        <div class="col-sm-6">
            <h3>@product.Title</h3>
             <a href="/product/@product.Id">
                @if (!string.IsNullOrEmpty(product.ImgURL))
                        {
                            <img style="max-height:250px; max-width:200px;" class="media-img" src="@product.ImgURL" alt="@product.Title" />
                        }
                        else if (product.Images.Count > 0)
                        {
                            <img style="max-height:250px; max-width:200px;" class="media-img" src="@product.Images[0].FileData" alt="@product.Title" />
                        } 
            </a>
            </div>
        <div class="col-sm-6">
         <a href="/product/@product.Id">
        <h2>Description</h2>
                    </a>
        <br>
         <a href="/product/@product.Id">
        <p>@product.Description</p>
                    </a>
        <p><b>Price:   </b> @product.Price zł</p>
        </div>
        </div>
        <hr/>
    }
    @if(_ProductService.ActiveCategorySerch==false)
        {
             @for (var i = 1; i <= _ProductService.PageCount; i++)
    {
        <a class="btn
                 @(i == _ProductService.CurentPageClient ? "btn-info" : "btn-outline-info")
                 page-selection"
        href="/search/@_ProductService.LastSearchText/@_ProductService.CurentCategory/@CoutonPage/@i">@i</a>
    }
        <div>
            @if (_ProductService.LastSearchText != String.Empty)
            {
                @for (int i = 1; i < 10;)
                {
                    var buttonNumber = i;
                    <a class="btn" href="/search/@_ProductService.LastSearchText/@_ProductService.CurentCategory/@CoutonPage/1" 
        @onclick="()=>ChangeCoutOnPage(buttonNumber)">@buttonNumber</a>
                    i=i+2;
                }

            }
        </div>
        }
        @if (_ProductService.ActiveCategorySerch)
        {
            @for (var i = 1; i <= _ProductService.PageCount; i++)
            {
                    <a class="btn
                 @(i == _ProductService.CurentPageClient ? "btn-info" : "btn-outline-info")
                 page-selection"
        href="/@_ProductService.CurentCategory/@CoutonPage/@i">@i</a>
            }
                <div>
                    @for (int i = 1; i < 10;)
                    {
                        var buttonNumber = i;
                                    <a class="btn" href="/@_ProductService.CurentCategory/@CoutonPage/1" 
        @onclick="()=>ChangeCoutOnPage(buttonNumber)">@buttonNumber</a>
                        i = i + 2;
                    }
                </div>
        }

</div>
}




@code
            {
        protected int CoutonPage = 3;
        protected override void OnInitialized()
        {
            _ProductService.ProductChanged += StateHasChanged;
        }
        public void Dispose()
        {
            _ProductService.ProductChanged -= StateHasChanged;
        }

        void ChangeCoutOnPage(int i)
        {
            CoutonPage = i;
        }


}
